.name-plate {
    border: 1px solid black;
    width: 10em;
    margin-bottom: 3em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 6px;
}

.player-name {
    padding-bottom: 1em;
    font-weight: bold;
}

.storm-start { 
    margin-top: 1em;
    font-style: italic;
    font-size: 12px;
}