.card-container {
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

.name-inputs-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
    width: 23em;
}

.house-inputs-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    width: 24em;
    justify-content: space-evenly;
}

.player-input {
    margin-bottom: 1em;
}

.faction-checkbox {
    width: 12em;
}

.randomizer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.shuffle-button {
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-header {
    font-weight: 600;
}
